@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.content {
  cursor: pointer;
  width: 500px;
  height: 200px;
  margin: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background: cornflowerblue;
  box-shadow: 2px 4px 5px 0px #cccccc;
  transform: translateX(200%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-200%);
}

.content.show {
  transform: translateX(0);
}
