@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background: #f6f7fb;
  font-style: 'Muli', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  text-align: center;
}

img {
  width: 400px;
}
